.App {
  text-align: center;
}

.grid__items {
  display: grid;
  grid-template-columns: repeat(1, auto);
}

.grid__item {
  background-color: rgb(203, 226, 255);
  margin: 2rem auto;
  width: fit-content;
  padding: 1rem 2rem;
}

@media (min-width: 768px) {
  .grid__items {
    grid-template-columns: repeat(2, auto);
  }
}

@media (min-width: 1440px) {
  .grid__items {
    grid-template-columns: repeat(3, auto);
  }
}
